################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarioWorld/.vs/
/MarioWorld/Debug/
/MarioWorld/Game/Debug/
/MarioWorld/Game.sdf
/MarioWorld/Game.VC.opendb
/MarioWorld/Game/Game.vcxproj.user
/MarioWorld/Game.VC.VC.opendb
/MarioWorld/Game.VC.db
/MarioWorld/MarioWorld.VC.opendb
